body {
  color: #333333;
  font-family: Verdana, sans-serif;
  margin: 0;
}

header {
  background-color: #a9a9a9;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.icon img {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: black;
}

header .info {
  font-size: 30px;
  margin-left: 32px;
}

body > h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.btn-wrapper {
  margin-top: 10px;
  text-align: center;
  display: flex;
}

.btn-wrapper2 {
  margin-top: 10px;
  text-align: center;
  display: flex;
}
.up {
  /* width: 400px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
  display: flex;
  list-style: none;
  /* padding: 0 15px; */
  /* margin: 0 auto; */
}

.down {
  /* width: 400px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
  display: flex;
  list-style: none;
  /* padding: 0 15px; */
  /* margin: 0 auto; */
}

a {
  text-decoration: none;
}

.fa {
  margin-right: 5px;
}

.fab {
  margin-right: 5px;
}

.btn {
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding: 8px 24px;
  color: white;
  display: flex;
  /* display: inline-block; */
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.atcoder {
  color: #111111;
  /* background-color: green; */
  background-color: cyan;
  /* background-color: blue; */
  margin-right: 10px;
  box-shadow: 2px 2px 4px gray;
}

.codeforces {
  /* color: #111111; */
  /* background-color: cyan; */
  background-color: blue;
  margin-right: 10px;
  box-shadow: 2px 2px 4px gray;
}

.kaggle {
  background-color: rgb(68, 118, 226);
  margin-right: 10px;
  box-shadow: 2px 2px 4px gray;
}

.omc {
  background-color: #808080;
  margin-right: 10px;
  box-shadow: 2px 2px 4px gray;
}

/* .gitlab {
  background-color: #292961;
  margin-right: 10px;
  box-shadow: 2px 2px 4px gray;
} */

.github {
  background-color: #000000;
  margin-right: 10px;
  box-shadow: 2px 2px 4px gray;
}

.twitter {
  background-color: #55acee;
  margin-right: 10px;
  box-shadow: 2px 2px 4px gray;
}

footer {
  background-color: black;
}
footer p {
  text-align: center;
  line-height: 1.8;
  font-size: 14px;
  margin-bottom: 60px;
  color: gray;
}
